body{
  margin: 0;
  font-family: 'Merriweather', serif;
}



.banner{
  text-align: center;
  padding-top: 5rem;
  background-image: url("sky.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 40%;
  background-size: cover;
  height: 50rem;
  align-items: center;
  justify-content: center;
}

.nameTitle{
  font-family: 'Merriweather', serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: #000731;
}

.nameSubTitle{
  font-family: 'Dancing Script', sans-serif;
  font-size: 2.2rem;
  margin-top: -1rem;
  font-style: italic;
  color: #3b2e5a;
}

.searchForm{
  margin: 10rem 0;

}


.search{
  border-style: none none solid none;
  border-radius: 0;
  height: 30px;
  border-color: #000731;
  background-color: rgba(0,0,0,0);
  outline: none;
  width: 18rem;
  text-align: center;
  color: #eee;
  font-size: 1.5rem;
  font-family: 'Ubuntu Mono', monospace;
  transition: all 300ms;
}

.search::placeholder{
  color: #b2b2b2;
}


.search:focus{
  animation: expand 0.2s 1;
  width: 55%;
  background-color: rgba(0,0,0,0);
  font-family: 'Ubuntu Mono', monospace;
}
@media(max-width: 1000px){
  .search:focus{
    width: 65%;
  }
}

.searchLi{
  list-style: none;
}

/* Zoeken */


/* overzicht button */

.btn {
  background: #000731 !important;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: #eee !important;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  height: 37px;

  position: static;
  transition: 1.15s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 0px;
  text-align: center;
  display: inline-block;
}

#circle {
  width: 1px;
  height: 1px;
  background: transparent;
  border-radius: 50%;
  position: static;
  margin-top: -5px;
  margin-left: 3.5rem;
  overflow: hidden;
  transition: 600ms;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn:hover {
  background: transparent !important;
}

.btn:hover #circle {
  height: 37px;
  width: 150px;
  margin-top: -2.1rem;
  margin-left: -0.8rem;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}

.clickOv{
  padding: 10px 37px 10px 37px;
  margin: -15px;
  background-color: transparent;
}


/*Card*/

.cardContainer{
  padding: 0 !important;
}

#card{
  margin: 30px 60px;
  background-color: #000731 !important ;
  border: none !important;
  height: 379.91px;
  width: 291px;
  transition: all 300ms;
}

#card:hover > #description{
  left: 240px;
}

#card:hover{
  width: 517.5px;
  margin-left: -45px;
}

#card:hover > #cardImg {
  box-shadow: -1px 5px 10px 2px rgba(0, 0, 0, 0.7);
  left: -40.4px;
}

#card:hover #playbtn{
  right: 15px !important;
}

#card:hover .edit{
  position: absolute;
  top: 40px;
  left: -30px;
  z-index: 6 !important;
}

#card:hover .fa-edit{
  color: #000731 !important;
  transform: scaleX(-1);
}

#card:hover .fa-edit:hover, .fa-trash:hover{
  color: #3b2e5a !important;
}


.container .jumbotron {
  border-radius: 1.5px ;
}

#cardImg{
  height: 379.917px;
  width: 268.15px;
  position: absolute;
  top: 30px;
  left: 75px;
  border-radius: 1.5px 0 0 1.5px;
  z-index: 2;
  transition: all 300ms;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

#description{
  position: absolute;
  left: 120px;
  top: 27px;
  padding: 15.795px 10.53px;
  transition: all 300ms;
  width: 237.57px;
  height: 100%;
}

#cardHeader{
  font-family: 'Arizonia', sans-serif;
  color: white;

  background-color: #000731;
  z-index: 5;
  position: relative;
  padding-left: 5.85px;
  padding-bottom: 2.34px;

  padding-right: 9.45px;
  padding-left: 11.7px;
  text-align: left;
  right: 14.02px;
  margin: 5px 0;
}

.edit{
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 6 !important;
  transition: all 300ms;
}

.delete {
  top: 90px !important;
  left: 18px;
}

.fa-edit, .fa-trash{
  color: #000731 !important;
  transform: scaleX(-1);
}

.fa-edit:hover, .fa-trash:hovers{
  color: #3b2e5a !important;
}


.cardSub{
  margin-top: 13.707px;
  color: #b2b2b2;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.17rem;
}

.extras{
  margin-top: 38.025px;
  color: #b2b2b2;
  line-height: 1;
}

.desbtn{
  font-size: 21.06px;
  font-family: 'Roboto', sans-serif;
}

.buybtn{
  border: 1px solid rgb(146, 148, 248);
  background-color: rgba(0,0,0,0);
  color: rgb(255, 200, 248);
  position: absolute;
  height: 44.343px;
  top: 316.602px;
  width: 137.241px;
  text-align: center;
  overflow: hidden;
}

.buybtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(176, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.buybtn:hover:before {
  left: 100%;
}

.buybtn:active:before{
  transition: all 180ms;
  left: 0;

}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 6px #3b2e5a, 0 0 10px #3b2e5a, 0 0 15px #3b2e5a;
  }

  to {
    box-shadow: 0 0 3px #fff, 0 0 6px rgba(146, 148, 248, 0.3), 0 0 10px rgba(146, 148, 248, 0.3), 0 0 15px rgba(146, 148, 248, 0.3), 0 0 20px rgba(146, 148, 248, 0.3);
  }
}
.buybtn:active{
  webkit-animation: glow 0.7s ease-in-out infinite alternate;
  -moz-animation: glow 0.7s ease-in-out infinite alternate;
  animation: glow 0.7s ease-in-out infinite alternate;
}

.buybtn:focus{
  outline: none;
}



.icon{
  margin-right: 10.53px;
  margin-left: -3.159px;
}

#playbtn{
  border: 1px solid rgb(255, 90, 120);
  border-radius: 30px;
  background-color: rgba(0,0,0,0);
  position: absolute;
  height: 44.343px;
  top: 316.602px;
  right: 3.53px !important;
  width: 44.343px;
  text-align: center;
  z-index: 1;
  transition: pulse 650ms;
}

#playbtn:hover{
  animation: pulse 0.9s 1;
}

#playbtn:active{
  transition: all 50ms;
  top: 319.1815px;
  right: 16.5px ;
  height: 41.184px;
  width: 41.184px;
}

#playbtn:focus{
  outline: none;
}

.disabledPlay{
  border: 1px solid	#484848 !important;
}

.disabledPlay:active{
  height: 44.343px !important;
  top: 316.602px !important;
  right: 35.0px !important;
  width: 44.343px !important;
}

.disabledPlay:hover {
  animation: none !important;
}


.disPlayLink{
  color:	#484848 !important;
}

.disPlayLink:touch{
  color: #484848 !important;
}

.disPlayLink:hover{
  color: #484848 !important;
}


@keyframes pulse {
	0% {
		transform: scale(0.97);
		box-shadow: 0 0 0 0 rgba(255, 90, 100, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.alert{
  position: fixed;
    top:0;
    background-color: #f00;
    height: 100px; width: 100%;
}

.playLink{
  color: #ff3232;
}

.playLink:hover{
  color: #ff3232;
}

.playLink:touch{
  color: #ff3232;
}


/*Catalog*/



.catalog{

  max-width: 1600px !important;
  overflow: hidden;
  margin: auto !important;
  line-height: 1.3 !important;
  min-height: 100vh
}

.catalogContainer{
  max-width: 100% !important;
}

.catalogHeader{
  background-color: #000731;
  color: white;
  font-family: monospace;
  font-size: 1.7rem;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10%;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-weight: light;
}



.col{
  margin-left: 0px;
}

@media(min-width: 1600px){
  .catalogContainer{
    max-width: 1600px !important;
  }
}


@media (min-width: 1425px){
  .col {
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
  }
  .catalogContainer{
    max-width: 1300px !important;
  }
}

@media (max-width: 1425px){
  .col {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .catalogContainer{
    max-width: 900px !important;
  }
}

@media (max-width: 1000px){
  .col {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .catalogContainer{
    max-width: 500px !important;
  }

  #description{
    left: 240px;
  }

  #card{
    width: 517.5px;
    margin-left: -45px;
  }

  #cardImg {
    box-shadow: -1px 5px 10px 2px rgba(0, 0, 0, 0.7);
    left: -40.4px;
  }

  #cardHeader{

  }

  #playbtn, #card:hover #playbtn{
    right: 5px !important;
  }
}

.noResults{
  width: 100%;
  height: 7rem;
  margin-top: 7rem;
  text-align: center;
}

.noResText{
  font-size: 4rem;
  font-family: 'Merriweather', serif;
}


.btnRe {
  width: 195px;
  color: #eee !important;
  font-size: 25px !important;
  height: 50px !important;
}

.btnRe:hover {
  color: #212529 !important;
  transition: all 500ms;
}


.btnRe:hover .circleRe {
  height: 53px !important;
  width: 189px !important;
  margin-top: -3rem !important;
  margin-left: -0.2rem !important;
  border-radius: 0;
  border-bottom: 2px solid #eee;
  border-color: #212529 !important;
  color: #212529 !important;
}

.circleRe {
  width: 1px !important;
  height: 1px !important;
  margin-left: 5.3rem !important;
}

.clickRe:hover{
  color: #212529 !important;
}

.nobtn{
  background-color: rgba(0,0,0,0) !important;
  border: none !important;
  color: white;
}

.nobtn:focus{
  outline: none !important;
}
/* Create */

.create {
  background-color: white;
  padding: 5rem 5rem 5rem 5%;
}

.ccolOne{
  margin-top: 3rem;
}

.ccolOne .edit{
  left: -30px;
}


@media(max-width: 1300px){
  .create {
    padding: 5rem 2% 5rem 2%;
  }

  .ccolOne{
    max-width: 26rem;
    margin: auto;
  }

  .edit{
    left: -30px;
  }

  .delete{
    left: -23px !important;
  }
}


.ccolOne #description{
  left: 240px;
}

.ccolOne #card{
  width: 517.5px;
  margin-left: -45px;
}

.ccolOne #cardImg {
  box-shadow: -1px 5px 10px 2px rgba(0, 0, 0, 0.7);
  left: -40.4px;
}

.ccolOne #cardHeader{

}

.ccolOne #n{
  right: 35px;
}




.formCard{
  max-width: 38rem;
  margin-left: 0;
  margin-right: -10rem;
  background-color: #000731;
  color: white;
  border: none;
  padding: 30px;
}




.ccTitle{
  margin-bottom: 1.8rem;
  margin-left: 1rem;
}

.flabel{
  font-size: 1.4rem;
  font-family: 'Ubuntu', sans-serif;
  margin: 5px 1rem;
}


.cInput, .textarea{
  font-weight: 500;
  border-color: #ff1932;
  background-color: #000731;
  color: white;
  margin: 0 1rem 1.5rem 1rem;
  width: 13rem;
  border-width: 2px;
}

.cInput{
  height: 1.75rem;
  border-style: none none solid none;
}

.textarea{
  height: 7.75rem;
  border-style: none solid solid none;
  max-height: 11rem;
}

.cscol{
  height: 10rem;
}


.cInput::placeholder, .textarea::placeholder{
  border: none;
  color: rgb(250, 150, 150);
  font-weight: 500;
}


.textarea:focus, .cInput:focus{
  outline: none;
}

.cKaft{
  margin-top: -1px;
}

.saveBtn{
  margin: auto 2rem auto 2rem;
  outline: none;
  border: none;
  background-color: #ff1932;
  color: white;
  width: 100%;
  font-size: 1.25rem;
  font-family: 'Ubuntu', sans-serif;
}

.saveBtn:hover{
  -webkit-box-shadow: inset 0px 0px 109px -74px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 109px -74px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 109px -74px rgba(0,0,0,0.75);
}

.saveBtn:active{
  -webkit-box-shadow: inset 0px 0px 109px -41px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 109px -41px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 109px -41px rgba(0,0,0,0.75);
}

.saveBtn:focus{
  outline: none;
}

@media(max-width: 1200px){
  .create {
    padding: 3rem;
  }

  .formCard{
    margin: auto;
  }
}

@media (max-width: 767px){
  .create {
    background-color: white;
    padding: 2rem;
  }

  .formCard{
    max-width: 37rem;
    margin: auto;
    background-color: #000731;
    color: white;
    border: none;
    padding: 30px;
    height: 55rem;
  }

  .cInput, .textarea{
    margin: 0 1rem 1.5rem 1rem;
    width: 90%;
  }

  .textarea{
    height: 7.75rem;
    border-style: none solid solid none;
    max-height: 11rem;
  }

  .saveBtn{
    margin-top: 9rem;
    width: 85%;
  }

}
