body{
  margin: 0;
  font-family: 'Merriweather', serif;
}



.banner{
  text-align: center;
  padding-top: 5rem;
  background-image: url("sky.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 40%;
  background-size: cover;
  height: 50rem;
  align-items: center;
  justify-content: center;
}

.nameTitle{
  font-family: 'Merriweather', serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: #000731;
}

.nameSubTitle{
  font-family: 'Dancing Script', cursive;
  font-size: 2.2rem;
  margin-top: -1rem;
  font-style: italic;
  color: #3b2e5a;
}

.searchForm{
  margin: 10rem 0;

}


.search{
  border-style: none none solid none;
  border-radius: 0;
  height: 30px;
  border-color: #000731;
  background-color: rgba(0,0,0,0);
  outline: none;
  width: 15rem;
  text-align: center;
  color: #eee;
  font-size: 1.5rem;
  font-family: 'Ubuntu Mono', monospace;
}

.search::placeholder{
  color: #b2b2b2;
}

@keyframes expand {
  0% {
    width: 15rem;
  }
  15%{
    with: 10%%;
  }
  90%{
    width: 44%;
  }
  100% {
    width: 45%;
  }
}

.search:focus{
  animation: expand 0.2s 1;
  width: 45%;
  background-color: rgba(0,0,0,0);
  font-family: 'Ubuntu Mono', monospace;
}

/* Zoeken */


/* overzicht button */

.btn {
  background: #000731 !important;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: #eee !important;
  font-size: 20px;
  font-family: 'Merriweather', serif;

  position: relative;
  transition: 1.15s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 0px;
  text-align: center;
  display: inline-block;
}

#circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn:hover {
  background: transparent !important;
}

.btn:hover #circle {
  height: 37px;
  width: 150px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}


/*Card*/

.cardContainer{
  padding: 0 !important;
  margin: 0;
}

.card{
  margin: 0;
  background-color: #000731 !important ;
  border: none !important;
  height: 324.71px;
  width: 460px;
}

.container .jumbotron {
  border-radius: 1.5px ;
}

.cardImg{
  height: 324.71px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.5px 0 0 1.5px;

}

.description{
  position: absolute;
  left: 239px;
  top: 0;
  padding: 13.5px 9px;
}

.cardHeader{
  font-family: 'Arizonia', cursive;
  color: white;
  font-size: 2.25rem;
}

.cardSub{
  margin-top: 27.1px;
  color: #b2b2b2;
  font-family: 'Ubuntu Mono', monospace;
}

.extras{
  margin-top: 32.5px;
  color: #b2b2b2;
  line-height: 0.27;
}

.desbtn{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.buybtn{
  border: 1px solid rgb(146, 148, 248);
  background-color: rgba(0,0,0,0);
  color: rgb(255, 200, 248);
  position: absolute;
  height: 37.9px;
  top: 270.6px;
  width: 117.3px;
  text-align: center;
  overflow: hidden;
}

.buybtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(176, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.buybtn:hover:before {
  left: 100%;
}

.buybtn:active:before{
  transition: all 180ms;
  left: 0;

}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 6px #3b2e5a, 0 0 10px #3b2e5a, 0 0 15px #3b2e5a;
  }

  to {
    box-shadow: 0 0 3px #fff, 0 0 6px rgba(146, 148, 248, 0.3), 0 0 10px rgba(146, 148, 248, 0.3), 0 0 15px rgba(146, 148, 248, 0.3), 0 0 20px rgba(146, 148, 248, 0.3);
  }
}
.buybtn:active{
  webkit-animation: glow 0.7s ease-in-out infinite alternate;
  -moz-animation: glow 0.7s ease-in-out infinite alternate;
  animation: glow 0.7s ease-in-out infinite alternate;
}

.buybtn:focus{
  outline: none;
}



.icon{
  margin-right: 9px;
  margin-left: -2.7px;
}

.playbtn{
  border: 1px solid rgb(255, 90, 120);
  border-radius: 25px;
  background-color: rgba(0,0,0,0);
  position: absolute;
  height: 37.9px;
  top: 270.6px;
  right: 9px;
  width: 37.9px;
  text-align: center;
  z-index: 1;
  transition: pulse 650ms;
}

.playbtn:hover{
  animation: pulse 0.9s 1;
}

.playbtn:active{
  transition: all 50ms;
  top: 271.95px;
  right: 10.35px;
  height: 35.2px;
  width: 35.2px;
}

.playbtn:focus{
  outline: none;
}

@keyframes pulse {
	0% {
		transform: scale(0.97);
		box-shadow: 0 0 0 0 rgba(255, 90, 100, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.playLink{
  color: #ff3232;
}

.playLink:hover{
  color: #ff3232;
}

.playLink:touch{
  color: #ff3232;
}



/*Catalog*/
.catalog{
  background-color: white;
  max-width: 100%;
  overflow: hidden;
}

.catalogContainer{
  margin: 0 auto !important;
  width: 100% !important;
}

@media(min-width: 1600px){
  .catalogContainer{
    max-width: 1600px !important;
  }
}

@media (min-width: 1430px){
  .col-lg-4 {
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
  }
  .catalogContainer{
    max-width: 1430px !important;
  }
}

@media (max-width: 1430px){
  .col-lg-4 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .catalogContainer{
    max-width: 1000px !important;
  }
}

@media (max-width: 960px){
  .col-lg-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .catalogContainer{
    max-width: 500px !important;
  }
}
